*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.jcs{
    justify-content: space-between;
}
.jcc{
    justify-content: center;
}
.aic{
    align-items: center;
}
.tic{
    text-align: center;
}
.po-rel{
    position: relative;
}
.po-ab{
    position: absolute;
}
.col-45{
    width: 45%;
}
.col-50{
    width: 50%;
}

/* img{
    width: 100%;
} */





.container{
    width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 20px 0px;
}
.nav-item>ul{
    display: flex;
    align-items: center;

}
.nav-item li{
    text-decoration: none;
    display: block;
    margin: 0px 10px;
    padding:10px;
    }

    .sec-one{
        background-color: #ffc045;
    }
    .sec-one-row{
        /* align-items: center; */
    }
    .col-50{
    padding: 100px 0px 0px 0px;
    }
    .col-50 p{
        width: 61%;
        font-size: 20px;
        border: dotted 2px;
        background-color: #ffc045;
        
    }
    .col-50 h1{
        font-size: 100px;
        filter: drop-shadow(3.936px 4.528px 0px #fee8bc);
        text-transform: uppercase;
        color: #3d2514;
        font-weight: 1200;
        line-height: 85px;
    }
    .col-50 h3{
        font-size:60px;
        filter: drop-shadow(3.936px 4.528px 0px #fee8bc);
        text-transform: uppercase;
        color: #3d2514;
        font-weight: 1200;
    }
    .img-1 img{
        width: 750px;
        display: block;
        margin: 0 auto;
    }

    .img-2{
        width: 140px;
    }
    .img-3{
        width: 70px;
        /* position: relative; */
    }
    /* #item1{
        position: relative;
        bottom: 320px;
        right: 50px;
    }
    #item2{
        position: relative;
        bottom: 580px;
        left: 100px;
    }
    #item3{
        position: relative;
        bottom: 690px;
        left: 135px;
    } */
