*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.jcs{
    justify-content: space-between;
}
.jcc{
    justify-content: center;
}
.aic{
    align-items: center;
}
.tic{
    text-align: center;
}
.po-rel{
    position: relative;
}
.po-ab{
    position: absolute;
}
.col-45{
    width: 45%;
}
.col-50{
    width: 50%;
}

/* img{
    width: 100%;
} */

.container{
    width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 20px 0px;
}
.nav-item>ul{
    display: flex;
    align-items: center;

}
.nav-item li{
    text-decoration: none;
    display: block;
    margin: 0px 10px;
    padding:10px;
    }

    .sec-one{
        background-color: #ffc045;
    }
    .sec-one-row{
        /* align-items: center; */
        align-items:center;
    }
    .col-50{
    /* padding: 100px 0px 0px 0px; */
    }
    .col-50 p{
        width: 61%;
        font-size: 20px;
        border: dotted 2px;
        background-color: #ffc045;
        
    }
    .col-50 h1{
        font-size: 100px;
        filter: drop-shadow(3.936px 4.528px 0px #fee8bc);
        text-transform: uppercase;
        color: #3d2514;
        font-weight: 1200;
        line-height: 85px;
    }
    .col-50 h3{
        font-size:60px;
        filter: drop-shadow(3.936px 4.528px 0px #fee8bc);
        text-transform: uppercase;
        color: #3d2514;
        font-weight: 1200;
    }
    .photo{
        width: 100%;
    }
    .photo>img{
        width: 100%;
        /* background-size: contain; */
    }
    .sex-txt{
        display: flex;
        flex-direction: column;
        align-items: flex-start !important;
    }
   
    

