*{
    margin: 0;
    padding: 0;
}
section{
    background-color: gray;
    height: 800px;
}

.container{
    width: 1200px;
    margin: 0 auto;
    /* border: solid 5px ; */
}
header{
    background-color: crimson;
}

.logo h1{
    color: white;
    font-size: 30px;
}

.logo{
    width: 150px;
}
.logo img{
    width: 100%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}
.links ul li{
    display: inline-block;
}

a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin: 0 20px;
    padding: 10px;
}
a:hover{
    color: black;
    /* font-size: 25px; */

}
.icon{
    width: 70px;
    display: inline;

}
.icon>svg{
    width: 100%;
}