*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* font Start */
@font-face{
    font-family: 'poppins-bold';
    src: url(./font/poppins/Poppins-Bold.ttf);
}
@font-face{
    font-family: 'poppins-light';
    src: url(./font/poppins/Poppins-Light.ttf);
}
/* font end */


.container{
    width:100%;
    /* border: solid 2px; */
    margin: 0 auto;
}
header{
    background-color: #daac00;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
    

 img{
    width: 100%;
}
.jcc{
    justify-content: center;
}

.jcs{
     
    justify-content:space-between;
}
.alc{
    align-items: center;
}
.po-rel{
    position: relative;
}
.po-ab{
    position: absolute;
}
.col-55{
    width: 100%;
}
.col-30{
    width: 100%;
}

.col-25{
    width: 100%;
}
.col-45{
    width: 100%;
}
.col-40{
    width: 100%;
}
.col-33{
    width: 100%;
}
.logo{
    width: 150px;
}
.logo img{
    width: 100%;
}
/* header start */

.navbar{
    padding: 10px 0;
    align-items: center;
}
.links ul li{
    display: inline-block;
}
.links a{
    font-family: 'poppins-light';
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
}
.input-fl input{
    padding: 7px 10px;
    background-color: #fcc302;
    border: none;
    outline: none;
 
}
.my-input::placeholder{
    color: white;
}
.input-fl button{
    color: white; 
    padding: 7px 12px ; 
    background-color: #00bec9;
    margin: 0 0 0 -10px;
    border: none;
}

/* header end */

/* section 1 start  */

.home-sec{
    background-color: #fcc302;
    padding: 70px 0;
}
.sec-one-text h1{
    /* font-family: "poppins-bold"; */
    font-family: 'poppins-light';
    font-size: 60px;
    color: white;
    line-height: 60px;
}
.sec-one-text p{
    font-family: 'poppins-light';
    font-size: 25px;
    color: white;
    margin: 20px 0;
}

.btn-gp .btn-1{
    font-family: 'poppins-light';
    border-radius: 7px;
    background-color: #00bec9;
    padding: 15px 30px ;
    color: white;
    border: none;
}

.btn-gp .btn-2{
    font-family: 'poppins-light';
    border-radius: 7px;
    background-color: #fcc302;
    padding: 15px 30px ;
    color: white;
    border: solid 2px white;
    margin:0 0 0 10px;

}
.img-dog{
    width: 4 50px;
}

.img-dog img{
    width: 100%;
}

/* section 1 end */

/* section 2 start  */

.sec-two-main{
    padding: 100px 0;
}

.sec-two-main h2{
    font-family: "poppins-bold";
    font-size: 40px;
    line-height: 40px;

}

.sec-two-main p{
    font-family: 'poppins-light';
    font-size: 23px;
    /* line-height: 40px; */
    margin: 30px 0;
    
}
 
.bg-of-dog{
    background-image:linear-gradient(#fcc20284 ,#fcc20285,#fcc2026d) ,url(./img/sec-2dog.png);
    min-height: 400px;
    background-repeat: no-repeat;
}
.bg-of-dog .sm-icon  {
    /* font-size: 50px; */
    width: 50px;
    padding: 10px 5px 10px 10px ;
    background-color: white;
    border-radius: 50%;
    color: white;

}

.sm-icon img{
    width: 20px;

}
.mini-box{
    width: 250px;
    height: 200px;
    background-color:#fcc302 ;
}
.mini-box{
    top: 250px;
    right: 250px;
    z-index: -1;
    
}

/* section 2 end */

/* section 3 start */
.sec-three{
    background-color:#fcc302;
    padding: 100px 0;
}
.row-three{
    display: flex;
}
.sec-three-text{
    text-align: center;
}
.sec-three-text h1{
    color: white;
    width: 70%;
    font-size: 75px;
    margin: 0 auto;
    line-height: 70px;
    font-family: 'poppins-bold';
}

.sec-three-text p{
    color: white;
    width: 50%;
    font-size: 25px;
    font-family: 'poppins-light';
    margin: 0 auto ;
    padding: 20px 0;
    line-height: 30px;
}
.row-three h2{
    color: white;
    /* font-weight: 600; */
    font-size: 34px;
    font-family: 'poppins-bold';
    text-align: center;
    /* line-height: 20px; */

}

.row-three p{
    color: white;
    font-weight: 40%;
    font-size: 22px;
    font-family: 'poppins-light';
    text-align: center;
    line-height: 30px;

}

/* section 3 end */

/* section 4 start  */


.sec-four-main{
    padding: 100px 0;
}
.sec-four-main h2{
    font-family: "poppins-bold";
    font-size: 40px;
    line-height: 40px;
}
.sec-four-main p{
    font-family: 'poppins-light';
    font-size: 23px;
    /* line-height: 40px; */
    margin: 30px 0;
    
}
.bg-of-dog-four{
    background-image:linear-gradient(#fcc20284 ,#fcc20285,#fcc2026d) ,url(./img/sec-4dog.png);
    min-height: 400px;
    background-repeat: no-repeat;
}
.mini-box-four{
    width: 250px;
    height: 200px;
    background-color:#fcc302 ;
}
.mini-box-four{
    top: 250px;
    left: 250px;
    z-index: -1;

}
/* section 4 end */

/* section 5 start */

.sec-five{
    background-color:#fcc302;
    padding: 100px 0;
}
.row-five{
    display: flex;
}

.sec-five-text{
    text-align: center;
}

.sec-five-text h2{
    color: white;
    width: 50%;
    font-size: 75px;
    font-family: 'poppins-light';
    margin: 0 auto ;
    padding: 20px 0;
    line-height: 30px;
}
.sec-five-text p{
    color: white;
    width: 50%;
    font-size: 25px;
    font-family: 'poppins-light';
    margin: 0 auto ;
    padding: 50px 0;
    line-height: 30px;
}

.row-five h3{
    color: white;
    width: 60%;
    font-size: 42px;
    font-family: 'poppins-light';
    margin: 0 auto ;
    padding: 30px 0;
    line-height: 30px;
}
.btn-gp{
    justify-content: center;
    display: flex;
}
.btn-gp .btn-3{
    font-family: 'poppins-light';
    background-color: #00bec9;
    color: white;
    border: none;
    /* width: 140px;
    height: 40px; */
    border-radius: 30px;
    padding:5px 20px;
    font-size: 25px;
    font-weight: 600;
    

}
.line{
    text-decoration: line-through;
    margin: 0px 10px;
}
/* section 5 end  */

/* section 6 :start */

.sec-six{
    padding: 100px 0;
}
.sec-six-text{
    text-align: center;
}
.row-six{
    display: flex;
}
.sec-six-text h3{
    width: 70%;
    font-size: 60px;
    font-family: 'poppins-bold';
    margin: 0 auto ;
    padding: 15px 0;
    line-height: 30px;
}
.sec-six-text p{
    width: 50%;
    font-size: 25px;
    font-family: 'poppins-light';
    margin: 0 auto ;
    padding: 40px 0;
    line-height: 30px;
}

.row-six h4{
    font-size: 20px;
    font-family: 'poppins-bold';
    text-align: center;
    padding: 10px 0 0 0 ;
}

.row-six p{
    font-size: 18px;
    font-family: 'poppins-light';
    text-align: center;
    line-height: 25px;
    padding: 0px 0px 10px 0px;
}

.sec-six-icon{
    text-align: center;
}
.sec-six-icon svg{
  /* padding: 10px; */
  background-color: #f2c321;
  fill: white;
  border-radius: 50%;
  padding: 4px;
  width: 25px;
  height:25px;

}
.sec-six-icon ul li{
    display:inline-block;
    padding: 10px;

}


/* section 6 end */

/* section 7 start */

.sec-sevan{
    background-image:linear-gradient(#fcc302d6,#fcc302d6 ,#fcc302d6) ,url(./img/sec-7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.sec-sevan-main ,.row-sec-sevan{
    padding: 80px 0px ;

}
.row-sec-sevan{
    display: flex;
}

.row-sec-sevan img{
    display: block;
    margin: 0 auto;
    padding: 0px 0px 30px 0px ;
}

.row-sec-sevan h3{
    text-align: center;
    color: white;
    padding: 7px ;
    font-family: 'poppins-bold';
    font-size: 35px;

}

/* section 7  end */

/* sec- 8 start  */


.sec-eight{
    padding: 100px 0;
}
.sec-eight-text{
    text-align: center;
}
.row-eight{
    display: flex;
}
.col-30 img{
    /* width: 100%; */
}
.col-30>.card-txt{
    /* border: 1px dotted black; */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.054);
}
.col-30 >.card-txt:hover{
    /* border: 0px dotted black; */
    box-shadow: 0px 0px 0px rgba(227, 8, 8, 0.867);
}
.sec-eight-text h3{
    width: 70%;
    font-size: 60px;
    font-family: 'poppins-bold';
    margin: 0 auto ;
    padding: 15px 0;
    line-height: 30px;
}
.sec-eight-text p{
    width: 50%;
    font-size: 25px;
    font-family: 'poppins-light';
    margin: 0 auto ;
    padding: 40px 0;
    line-height: 30px;
}

.row-eight h5{
    font-size: 25px;
    font-family: 'poppins-bold';
    text-align: left;
    line-height: 30px;
    padding: 10px 0 ;

}
.row-eight p{
    font-size: 18px;
    font-family: 'poppins-light';
    text-align: left;
    line-height: 30px;
    padding: 10px 0 ;

}
.row-eight .p-1{
    color:#00bec9;
    font-size: 20px;
}

 /* sec-8 end */

/* footer start */

.footer{
    /* height: 700px; */
    background-color: #343434;
}
.main-foot{
    padding: 100px 0px;
} 
.main-foot h4{
    font-size: 30px ;
    color: white;



}
.about-links{
    font-family: 'poppins-light';
    padding: 10px;
}
.about-links h4{
    padding: 10px;
}
.about-links ul a{
    color: white;
    padding: 3px 0px;
    text-decoration: none;
}

.about-Services{
    font-family: 'poppins-light';
    padding: 10px;
}
.about-Services h4{
    padding: 10px;
}
.about-Services ul a{
    color: white;
    padding: 3px 0px;
    text-decoration: none;
}

.main-foot{
    color: white;
    /* text-decoration: none; */
    font-size: 20px;
    display: block;
    margin: 5px 0px ;    
}
.main-foot li{
    display: block;
}

.foot-input h5{
    font-family: 'poppins-bold';
    text-align: right;
    color: white;
    font-size: 40px;
}
.foot-input p{
    font-family: 'poppins-light';
    text-align: right;
    color: white;
    font-size: 20px;
}
.foot-input-fl input{
    padding: 22px ;
    width: 300px;
    background-color: #fcc302;
    border: none;
    outline: none;
    
}
.foot-input-fl button svg{
    fill: white;

}
 
.foot-input-fl button{
    color: white;
    font-size: 20px;
    padding: 15px 40px 21px 40px; 
    background-color: #00bec9;
    margin: 0px 0 0 -10px;
    border: none;
}
.foot-input-fl{
    text-align: right;
    margin: 15px 0px;
}

.foot-icon{
    text-align: right;
}
.foot-icon svg{
  /* padding: 10px; */
  background-color: white;
  border-radius: 50%;
  padding: 4px;
  width: 30px;
  height:30px;

}
.foot-icon ul li{
    display:inline-block;
    padding: 5px;

}


 /* footer end */

 /*------------------------- media query strat------------------------------------- */
 @media(min-width:992px){
    .container{
        width: 950px;
    }
    .col-55{
        width: 55%;
    }
    .col-30{
        width: 30%;
        
    }
    
    .col-25{
        width: 25%;
    }
    .col-45{
        width: 45%;
    }
    .col-40{
        width: 40%;
    }
    .col-33{
        width: 33.33%;
    }
}

 @media(min-width:1200px){
    .container{
        width: 1150px;
    /* }
    .col-55{
        width: 55%;
    }
    .col-30{
        width: 30%;
    }
    
    .col-25{
        width: 25%;
    }
    .col-45{
        width: 45%;
    }
    .col-40{
        width: 40%;
    }
    .col-33{
        width: 33.33%;
    } */

 }
 }
 /*------------------------- media query end------------------------------------- */

