*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1200px;
    margin: 0 auto;
}


.row{
    display: flex;
}

.jcc{
    justify-content: center;
}

.jcs{
     
    justify-content:space-between;
}
.aic{
    align-items: center;
}

.pos-rel{
    position: relative;
}
.pos-abs{
    position: absolute;
}
.sec-row{
    display: flex;  
}

.col-40{
    width: 40%;
}

.col-60{
    width: 60%;
}

.col-30{
    width: 30%;
}
.col-50{
    width: 50%;
}
.col-25{
    width: 25%;
}




header{
    background-image: url(./img/sec-1\ \(2\).png);
    background-size: contain  ;
    background-repeat: no-repeat;   
    background-color: #303030;
    z-index: 100;
    padding: 15px 0px 0px 0px ;
}

.sideimg>img{
    width: 100%;
    
}
.sideimg{
    width: 800px;
    top: -119px;
    right: 112px;
    z-index: -1;
}
.row>div>img{
    width: 100%;
}


.nav{
    padding: 10px 0;
    align-items: center;
}

.links ul li{
    display: inline-block;
}

.links a{
    color: white;
    margin: 0px 15px;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
}

button svg{
    font-size: 30px;
    fill: aliceblue;
    background-color:#303030 ;
    padding: 3px;
    border: none;
    
}

.sec-row{
    display: inline-block;
}

.text h1{
    font-size: 70px;
    color: #ffc200;
    padding: 50px 0px 0px 10px;
    font-family: "Grand Hotel";
}
.text p{
    font-size: 30px;
    color: #ffffff;
    margin: 0px 60px 20px 0px;
    padding: 50px 40px 0px 10px;
    font-family: "Grand Hotel";
}

.btn1{
    padding: 8px 17px;
    margin-left: 10px;
    background-color: #ffc200;
    font-size: 15px;
}

/* ----------------------------------header end------------------------ */


/* ----------------------------------sec-one- start------------------------ */

.secone{
    background-color:#ffffff;
    text-align: center;

}

.onetext h1{
    font-size: 50px;
    padding: 70px 0px 20px 0px ;
}
.onetext p{
    font-size: 30px;
    padding: 0px 0px 30px 0px ;
    margin: 0px 200px;
}

.car1 img{
    border-radius: 50%;
}

.textone h2{
    padding: 10px 0px;
    font-size: 30px;

}
.textone p{
    padding: 0px 0px 150px 0px;
    font-size: 20px;
    margin: 0px 20px;

}

/* ----------------------------------sec-one- end------------------------ */

/* ----------------------------------sec-two- start------------------------ */

.twoimg img{
    border-radius: 50%;
    margin: 40px 0px 90px 80px;
}
.twotext h1{
    font-size: 70px;
    color: #ffc200;
    padding: 180px 0px 30px 0px;
    margin: 0px 0px 0px 100px;

}
.twotext p{
    color: #ffffff;
    font-size: 25px;
    width: 70%;
    margin: 0px 0px 0px 100px;
    padding: 0px 0px 35px 0px;
}

.btn2{
    font-size: 20px;
    padding: 8px 35px;
    background-color:#ffc200;
    margin: 0px 0px 0px 100px;
    border: none;

}

.sectworow{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
.sectwobg{
    background-image: url(./img/sec\ two.png);
    background-repeat: no-repeat;
    /* background-size:cover; */
    background-position-x: center;
    background-size: 1550px 1000px;
    /* width: 1900px; */
}
.bckimg>img{
    width: 100%;
    height: 160%;
    overflow: hidden;
}
.bckimg{
    width: 1000px;
    
   top: 2px;
   /* right: 80%; */
   bottom: 0px;
   left:-22%;

    z-index: -1;
}
 /* ----------------------------------sec-two- end------------------------ */
 /* ----------------------------------sec-three- start------------------------ */

 .secthree{
    background-color: #303030;
    padding: 0px 0px 30px 0px;
 }

 .secthreeimgbg{
    background-image: url(./img/sec3\ 5.png);
    background-repeat: no-repeat;
    background-size: 1277px 850px;
    /* background-position-x: center; */
    padding: 70px;

 }
 
 .text3 h1{
    padding: 100px 0px 0px 0px;
    font-size: 75px;
    color: #ffc200;
    font-family: "Grand Hotel";
    text-align: center;
 }
 .text3 p{
    font-size: 25px;
    color: #ffffff;
    font-family: "Grand Hotel";
    text-align: center;
    padding: 0px 250px 100px;
 }
 .sec3row>div>img{
    width: 80%;
    padding: 0px 0px 100px 0px;
 }
 /* ----------------------------------sec-three- end------------------------ */

 
 /* <!------------------------------------sec-four- start--------------------------> */

 /* .secfour{
    di
 } */
 
.fourimg img{
    border-radius: 50%;
    margin: 40px 0px 90px 80px;
}
.fourtext h1{
    font-size: 70px;
    color: #ffc200;
    padding: 180px 0px 30px 0px;
    margin: 0px 0px 0px 100px;

}
.fourtext p{
    color: #ffffff;
    font-size: 25px;
    width: 70%;
    margin: 0px 0px 0px 100px;
    padding: 0px 0px 35px 0px;
}

.btn4{
    font-size: 20px;
    padding: 8px 35px;
    background-color:#ffc200;
    margin: 0px 0px 0px 100px;
    border: none;

}

.secfourrow{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
.secfourbg{
    background-image: url(./img/sec4\ 2.png);
    background-repeat: no-repeat;
    /* background-size:cover; */
    background-position-x: center;
    background-size: 1550px 1000px;
    /* width: 1900px; */
}
.bckimg>img{
    width: 100%;
    height: 160%;
    overflow: hidden;
}
.bckimg{
    width: 1000px;
    
   top: 2px;
   /* right: 80%; */
   bottom: 0px;
   left:-22%;
   z-index: -1;
}
 /* <!------------------------------------sec-four- end--------------------------> */