* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}


.container {
  width: 100%;
  margin: 0 auto;
}
body {
  background-color: #ebe3cd;
}

.row {
  display: flex;
  /* flex-wrap: wrap; */
}
.jcc {
  justify-content: center;
}

.jcs {
  justify-content: space-between;
}
.aic {
  align-items: center;
}
.posi-abs {
  position: absolute;
}
.posi-rel {
  position: relative;
}
.sec-45 {
  width: 100%;
}
.sec-55 {
  width: 100%;
}

header {
  background-color: #12202f;
  border-radius: 3.3rem;
}
.navbar {
  padding: 1.6rem 3.5rem;
  margin: 5rem 0rem;
  align-items: center;
}
.logo h1 {
  color: white;
  font-size: 2.5rem;
}
.links ul li {
  display: inline-block;
}
.links a {
  color: white;
  margin: 0 1.5rem;
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem;
}
.link1 a {
  color: #6bb99c;
  /* text-align: center; */
  font-size: 2rem;
}

/* ------------------------------------------------------------------------------------ */

.main h1 {
  font-size: 7.5rem;
}
.bold {
  font-size: 3.3rem;
  font-weight: bold;
  padding: 1rem 0rem;
}
.sec-btn {
  margin: 2rem 0rem 0rem 0rem;
}
.btn-1 {
  padding: .6rem 1.5rem;
  font-size: 1.8rem;
  font-weight: 540;
  border-radius: 2.8rem;
  background-color: #df581e;
  border: none;
  
}
.btn-2 {
  font-size: 1.8rem;
  font-weight: 540;
  border: none;
  background-color: #ebe3cd;
  padding: 0rem 0rem 0rem 4rem;
}

/* ----------------------------------------------------------------------------- */

.lamp img{
  width: 100%;
}
.lamp{
  position: absolute;
  right: 20.5rem;
  bottom: 22rem;
}

.window-1{
  width: 100%;
  position: absolute;
  right: 0rem;
  bottom: 0rem;
}
.window-2{
  width: 100%;
  position: absolute;
  left: 6rem;
  bottom: 0rem;
}
.f1{
  width: 100%;
  position: absolute;
  top: 14rem;
  right: -2.4rem;
}
.plant{
  position: absolute;
  top: 28.9rem;
  right: 70rem;
}

/* <!---------------------------------- sec-2 ------------------------------------- --> */
.s-2-m{
  margin: 27rem 0rem 0rem 0rem ;
  font-size: 3rem;
  font-weight: 400;
}


.box{
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid .2rem #ffffff;
  padding: 4rem 41rem;
  margin: 3rem 0rem 5rem 0rem ;
  border-radius: 2.7rem;
  background-color:#ffffff ;

}
.sec-2-row{
  font-size: 2rem ;
}
.input-box{
  padding: 2rem 8rem 2rem 2rem;
  margin: .5rem 6rem 0rem 0rem;
  border-radius: 2.3rem;
  background-color: #ebe3cd;
}


.cheek>button{
  width: max-content;
  padding: 2rem 2rem 2rem 2rem;
  margin: 4rem 0rem 3rem 3rem ;
  font-size: 2rem ;
  background-color: #6bb99c;
  color: #ffffff;
  border-radius: 2.7rem;
  border: none;
}

/* ---------------------------------------sec-3-------------------------------------- */
.card{
  width:100%;
  background-color: #ffffff;
  background-color: #ffffff;
  border-radius: 2.7rem;
  border: .2rem solid;
  padding: 3rem 0rem 0rem 0rem;
  text-align: center;
  margin-bottom: 2.5rem;
}
.s-3-m p{
  font-size: 3rem;
  color: #eaa73b;
  text-align: center;
  padding: 3rem 0rem .4rem 0rem ;
}
.s-3-m h4{
  font-size: 4rem;
  text-align: center;
  padding: 1rem 0rem 4rem 0rem ;
}


.card h4{
  font-size: 3rem;
  padding: 2rem 0rem 0rem 0rem;
}

.card p{
  font-size: 2.3rem;
  padding: .7rem 0rem 1rem 0rem ;
}

.card button{
  padding: 1rem 2rem;
  margin: 1rem 0rem 3rem 0rem;
  font-size: 2rem;
  border-radius: 2.7rem;
  background-color: #df581e;
  color: #ffffff;
  border: none;
}
.sec-3-row{
  justify-content: space-evenly;
}

/* -----------------------------------sec-4 ------------------------------------------ */

.s-4-m{
  text-align: center;
  margin: 15rem 0rem 2rem 0rem ;
}
.s-4-m p{
  font-size: 3rem;
  color: #6bb99c;
  font-weight: 400;
}
.s-4-m h4{
  font-size: 4.5rem;
  font-weight: 400;
  padding: 1rem 0rem;
}

.s-4-m button{
  padding: 1rem 2rem;
  margin: 1rem 0rem 3rem 0rem;
  font-size: 2rem;
  border-radius: 2.7rem;
  background-color:#6bb99c;
  color: #ffffff;
  border: none;
}

.table1{
  padding: 0rem 0rem 2rem 0rem ;
  position: absolute;
  top: 17rem;
  right: -1rem;
}
.table2{
  padding: 0rem 0rem 2rem 0rem ;
  position: absolute;
  top: 17rem;
  left: -1rem;
}
.table3{
  position: absolute;
  left: 94rem;
  top: -23rem;
}
.table4{
  position: absolute;
  right: 100rem;
  top: -23rem;
}
.staf{
  width: 100%;
  position: relative;
  top: 11rem;
  left: 34.2rem;
  padding: 0rem 0rem 2rem 0rem ;
}

/* ------------------------------------sec-5---------------------------------------------- */
.sec-5-row{
  margin: 8rem 0rem 0rem 0rem;
  justify-content: space-between;
}

.s-5-m{
  width: 100%;
  margin: 25rem 0rem ;
}
.story{
  color: #df581e;
  padding: 1rem 0rem .7rem 0rem;
}
.s-5-m h2{
  font-size: 4rem;
}
.s-5-m p{
  font-size: 2.22rem;
  padding: .2rem 0rem 2rem 0rem;
}
.s-5-m button{
  padding: 1rem 2rem;
  margin: 1rem 0rem 3rem 0rem;
  font-size: 2rem;
  border-radius: 2.7rem;
  background-color: #df581e;
  color: #ffffff;
  border: none;
}


.s-5-img{
  width: 100%;
  text-align: center;
}

.s5-1{
  width: 100%;
  position: absolute;
  top: 27.7rem;
  left:5rem;
}
.s5-2{
  position: absolute;
  top: 9rem;
  left:55.8rem;
}
.s5-3{
  position: absolute;
  top: 15rem;
  left:5rem;
}

/* -------------------------------sec-6--------------------------------------- */
.sec-6-row{
  justify-content: space-between;
}
.s-6-img{
  width: 100%;
  padding: 6rem 0rem 0rem 0rem ;
}
.s-6-img img{
  width: 100%;
}
.s-6-text{
  width: 100%;
  padding: 7rem 5.5rem 0rem 0rem ;
}

.s-6-tp{
  color: #eaa73b;
  font-size: 3rem ;
  padding: 2rem 0rem 1rem 0rem ;
}
.s-6-text h2{
  font-size: 5.5rem ;
  line-height: 5rem;
  padding-top: 1rem;
}
.s-6-text p{
  font-size: 3rem;
  padding: 1rem 0rem 0rem 0rem;
}
.s-6-text button{
  padding: 1rem 2rem;
  margin: 2rem 0rem 3rem 1rem;
  font-size: 2rem;
  border-radius: 2.7rem;
  background-color:#6bb99c;
  color: #ffffff;
  border: none;
}

/* ---------------------------------------sec-7---------------------------------------- */

.sec-7-row{
  justify-content: space-between;
  border-radius: 2.7rem;
  background-color: #ffffff;
  padding: 6rem 8rem 10rem 7rem;
  margin: 10rem 0rem 2rem 0rem ;
}
.s-7-text{
  width: 100%;
  padding: 16rem 5.5rem 0rem 0rem ;
}
.s-7-tp{
  color: #6bb99c;
  font-size: 3rem ;
  padding: 2rem 0rem 1rem 0rem ;
}
.s-7-text h2{
  font-size: 5.5rem ;
  line-height: 5rem;
  padding-top: 1rem;
}
.s-7-text p{
  font-size: 2.2rem;
  padding: 1rem 0rem 0rem 0rem;
}
.s-7-text button{
  padding: 1rem 2rem;
  margin: 2rem 0rem 3rem 10rem;
  font-size: 2rem;
  border-radius: 2.7rem;
  background-color:#df581e;
  color: #ffffff;
  border: none;
}

.s-7-img{
  width: 100%;
  /* padding: 6rem 0rem 0rem 0rem ; */
}

/* ----------------------------------sec-8 ------------------------------------- */
.sec-8-m{
  text-align: center;
  margin-top: 8dvi;
}
.sec-8-m p{
  font-size: 3rem;
  color: #df581e;
}
.sec-8-m h4{
  font-size: 4rem;
  padding: 0rem 0rem 1rem 0rem;
}

.sec-8-row{
  justify-content: space-between;
  padding: 5rem 0rem 3.5rem 0rem;
}
.scard-1{
  width: 100%;
  background-color: #ffffff;
  border-radius: 2.7rem;
  padding: 3rem 0rem 2rem 3rem ;
}
.scard-2{
  width: 100%;
  background-color: #ffffff;
  border-radius: 2.7rem;
  padding: 3rem 3rem 2rem 3rem ;
}
.scard-3{
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 2.7rem;
  padding: 3rem 3rem 2rem 3rem ;
}
.s8text{
  padding: 1.5rem 0rem 0rem 2rem;
}
.s8text h4{
  font-size: 3rem ;
}
.s8text p{
  font-size: 2rem ;
  padding: .5rem 0rem 1rem 0rem ;
}

/* -----------------------------------sec-9 ---------------------------------------- */
.s9text{
  margin: 0 auto;
  flex-direction: column;
  text-align: center;
  padding: 8rem 0rem 10rem 0rem ;
}
.s9text p{
  font-size: 4rem;
  color: #df581e;
  padding: 1rem 0rem .5rem 0rem;
}
.s9text h4{
  font-size: 5rem;
  padding: 0rem 0rem 1rem 0rem;
}
.name{
  border: solid 2rem #faf8ef;
  padding: 2.5rem 75rem 2.5rem 4rem ;
  margin:auto;
  margin-top: 1rem;
  background-color: #ccc1a3;
  border-radius: 4.3rem;
}
.mail{
  border: solid .2rem #faf8ef;
  padding: 2.5rem 76rem 2.5rem 4rem ;
  margin:auto;
  margin-top: 1rem;
  background-color: #ccc1a3;
  border-radius: 4.3rem;
}
.msg{
  border: solid .2rem #faf8ef;
  padding: 2.5rem 73.5rem 12rem 4rem ;
  margin:auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #ccc1a3;
  border-radius: 2.7rem;
}
.s9btn{
    padding: 1rem 2rem;
    margin: 1rem 0rem 3rem 0rem;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0 auto;
    border-radius: 2.7rem;
    background-color: #6bb99c;
    color: #3a3a3a;
    border: none;
    
}

.s9img1{
  position: absolute;
  top:10rem;
  left: -1rem;
}
.s9img2{
  position: absolute;
  top:10rem;
  right:1.5rem;
}
.s9img3{
  position: absolute;
  bottom:2rem;
  right:1.5rem;
}
.s9img4{
  position: absolute;
  bottom:2rem;
  left:1.5rem;
}

/* ------------------------------------------------------------------------------ */
.footer{
  background-color: #f79708;
}
.main-foot{
  padding: 7rem 0rem;
} 
.main-foot h4{
  font-size: 4rem ;
  color: white;
}
.About{
  width: 100%;
}
.about-links{
  padding: 1rem;
}
.about-links h4{
  padding: 1rem 0rem 2rem 0rem;
}
.about-links ul a{
  color: #404040;
  font-size: 2.5rem;
  line-height: 6.5rem;
  letter-spacing: .1rem;
  font-weight: 700;
  text-decoration: none;
}
.Services{
  width: 100%;
}
.about-Services{
  padding: 1rem;
}
.about-Services h4{
  padding: 1rem 0rem 2rem 0rem;
}
.about-Services ul a{
  color: #404040;
  font-size: 2.5rem;
  line-height: 6.5rem;
  letter-spacing: .1rem;
  font-weight: 70;
  text-decoration: none;
}

.main-foot li{
  display: block;
}
.foot-input{
  width: 100%;
}

.foot-input h5{
  text-align: right;
  color: white;
  font-size: 4rem;
  padding: 2.5rem 0rem 0rem 0rem;
}

.foot-input-fl input{
  padding: 2rem 1rem 2rem 25rem  ;
  background-color: #f79708;
  border: solid .2rem #404040;
  border-radius: 5.4rem;
  outline: none;
  margin:4rem 0rem 2rem 0rem  ;
  
}
.foot-input-fl button svg{
  fill: white;
  
}

.foot-input-fl{
  text-align: right;
  margin: 1.5rem 0rem;
}

.foot-icon{
  text-align: right;
}
.foot-icon>ul{
  display: flex;
  align-items: center;
  justify-content: end;
  
}
.foot-icon svg{
background-color: white;
border-radius: 50%;
padding: .4rem;
width: 100%;
height:4rem;
margin: 1.5rem 1.5rem .5rem 0rem ;

}
.foot-icon ul li{
  display:inline-block;
  padding: .5rem;
}
.foot-icon ul li>span{
  font-size: 3rem;
  padding: 0rem 2rem 0rem 0rem;

}
/* ------------------------------------------------------------------------------------ */
@media(min-width:992px){
  .container{
      width: 95px;
  }
  .sec-45{
    width: 45%;
  }
  .sec-55{
    width: 55%;
  }
  .lamp img{
    width: 6.5rem;
  }
  .window-1{
    width: 12.5rem;
  }
  .window-2{
    width: 12.5rem;
  }
  .f1{
    width: 140%;
  }
  .plant{
    width: 18%;
    top: 33rem;
    right: 60rem;
  }

  .box{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid .2rem #ffffff;
    padding: 2rem 41rem;
    margin: 3rem 0rem 5rem 0rem ;
    border-radius: 2.7rem;
    background-color:#ffffff ;
  
  }
  .input-box{
    padding: 1rem 4rem 1rem 1rem;
  }
  .cheek>button{
    padding: 1rem 1rem;
  }


  .card{
    width: 30%;
  }
  .staf{
    width: 42%;
  }

  .table3{
    position: absolute;
    left: 74rem;
    top: -23rem;
  }
  .table4{
    position: absolute;
    right: 75rem;
    top: -23rem;
  }
  .s-5-m{
    width: 30%;
  }
  .s-5-img{
    width: 60%;
  }
  .s5-1{
    width: 90%;
  }

  .s-6-img{
    width: 50%;
  }
  .s-6-img img{
    width: 95%;
  }
  .s-6-text{
    width: 45%;
  }

  .s-7-text{
    width: 40%;
  }
  .s-7-img{
    width: 55%;
  }

  .scard-1{
    width: 45%;
  }
  .scard-2{
    width: 45%;
  }
  .scard-3{
    width: 45%;
  }

  .About{
    width: 25%;
  }
  .Services{
    width: 25%;
  }
  .foot-input{
    width: 50%;
  }
  .foot-icon svg{
    width: 4rem;
  }
}

@media(min-width:1200px){
  .container{
    width: 1150px;
  }
  .sec-45{
    width: 45%;
  }
  .sec-55{
    width: 55%;
  }
  .lamp img{
    width: 6.5rem;
  }
  .window-1{
    width: 12.5rem;
  }
  .window-2{
    width: 12.5rem;
  }
  .f1{
    width: 140%;
  }
  .plant{
    width: 25%;
    top: 30rem;
  }

  /* .box{
    width: 30rem;
    
  } */

  .card{
    width: 30%;
  }
  .staf{
    width: 42%;
  }

  .s-5-m{
    width: 30%;
  }
  .s-5-img{
    width: 60%;
  }
  .s5-1{
    width: 90%;
  }

  .s-6-img{
    width: 50%;
  }
  .s-6-img img{
    width: 95%;
  }
  .s-6-text{
    width: 45%;
  }

  .s-7-text{
    width: 40%;
  }
  .s-7-img{
    width: 55%;
  }

  .scard-1{
    width: 45%;
  }
  .scard-2{
    width: 45%;
  }
  .scard-3{
    width: 45%;
  }

  .About{
    width: 25%;
  }
  .Services{
    width: 25%;
  }
  .foot-input{
    width: 50%;
  }
  .foot-icon svg{
    width: 4rem;
  }
}
/* ------------------------------------------------------------------------------------ */