* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
body {
  background-color: #ebe3cd;
}

.row {
  display: flex;
}
.jcc {
  justify-content: center;
}

.jcs {
  justify-content: space-between;
}
.aic {
  align-items: center;
}
.posi-abs {
  position: absolute;
}
.posi-rel {
  position: relative;
}
.sec-45 {
  width: 45%;
}
.sec-55 {
  width: 55%;
}

header {
  background-color: #12202f;
  border-radius: 33px;
}
.navbar {
  padding: 16px 35px;
  margin: 50px 0px;
  align-items: center;
}
.logo h1 {
  color: white;
  font-size: 25px;
}
.links ul li {
  display: inline-block;
}
.links a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
}
.link1 a {
  color: #6bb99c;
  /* text-align: center; */
  font-size: 20px;
}

/* ------------------------------------------------------------------------------------ */

.main h1 {
  font-size: 75px;
}
.bold {
  font-size: 33px;
  font-weight: bold;
  padding: 10px 0px;
}
.sec-btn {
  margin: 20px 0px 0px 0px;
}
.btn-1 {
  padding: 6px 10px;
  font-size: 18px;
  font-weight: 540;
  border-radius: 28px;
  background-color: #df581e;
  border: none;

}
.btn-2 {
  font-size: 18px;
  font-weight: 540;
  border: none;
  background-color: #ebe3cd;
  padding: 0px 0px 0px 40px;
}

/* ----------------------------------------------------------------------------- */

.lamp img{
  width: 65px;
}
.lamp{
  position: absolute;
  right: 205px;
  bottom: 220px;
}

.window-1{
  width: 125px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.window-2{
  width: 125px;
  position: absolute;
  left: 60px;
  bottom: 0px;
}
.f1{
  width: 140%;
  position: absolute;
  top: 140px;
  right: -55px;
}
.plant{
  position: absolute;
  top: 289px;
  right: 700px;
}

/* <!---------------------------------- sec-2 ------------------------------------- --> */
.s-2-m{
  margin: 270px 0px 0px 0px ;
  font-size: 30px;
  font-weight: 400;
}


.box{
  width: 300px;
  display: flex;
  align-items: center;
  border: solid 2px #ffffff;
  padding: 70px 610px;
  margin: 30px 0px 50px 0px ;
  border-radius: 27px;
  background-color:#ffffff ;
}

/* ---------------------------------------------------------------------------------- */
.s-3-m p{
  font-size: 30px;
  color: #eaa73b;
  text-align: center;
  padding: 10px 0px 4px 0px ;
}
.s-3-m h4{
  font-size: 40px;
  text-align: center;
  padding: 10px 0px 40px 0px ;
}

.card{
  width: 30%;
  background-color: #ffffff;
  border-radius: 27px;
  border: 2px solid;
  padding: 30px 0px 0px 0px;
  text-align: center;
  margin-bottom: 25px;
}

.card h4{
  font-size: 30px;
  padding: 20px 0px 0px 0px;
}

.card p{
  font-size: 23px;
  padding: 7px 0px 10px 0px ;
}

.card button{
  padding: 10px 20px;
  margin: 10px 0px 30px 0px;
  font-size: 20px;
  border-radius: 27px;
  background-color: #df581e;
  color: #ffffff;
  border: none;
}
