* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
.head
{
  width: 100%;
}
.navbar{
  position: fixed!important;
  background-color: #12202f;
  z-index: 9;
  width: 1200px;
}


.container {
  width: 100%;
  margin: 0 auto;
}
body {
  background-color: #ebe3cd;
}

.row {
  display: flex;
  /* flex-wrap: wrap; */
}
.jcc {
  justify-content: center;
}

.jcs {
  justify-content: space-between;
}
.aic {
  align-items: center;
}
.posi-abs {
  position: absolute;
}
.posi-rel {
  position: relative;
}
.sec-45 {
  width: 100%;
}
.sec-55 {
  width: 100%;
}

header {
  background-color: #12202f;
  border-radius: 3.3rem;
}
.navbar {
  padding: 1.6rem 3.5rem;
  margin: 5rem 0rem;
  align-items: center;
  font-family: "Montserrat";
}

.logo h1 {
  color: white;
  font-size: 2.5rem;
  font-family: "Playfair Display";
}
.links ul li {
  display: inline-block;
}
.links a {
  color: white;
  margin: 0 1.5rem;
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem;
}
.link1 a {
  color: #6bb99c;
  /* text-align: center; */
  font-size: 2rem;
  text-decoration: none;
}

/* ------------------------------------------------------------------------------------ */

.main h1 {
  font-size: 7.5rem;
  font-family: "Playfair Display";
  line-height: 8rem;
}
.bold {
  font-size: 2.7rem;
  font-weight: bold;
  padding: 2rem 0rem 1rem 0rem;
  font-family: "Montserrat";
}
.p1{
  font-size: 2rem;
  padding: 0rem 0rem 1rem 0rem;
  font-family: "Montserrat";
}
.sec-btn {
  margin: 2rem 0rem 0rem 0rem;
  font-family: "Montserrat";
}
.btn-1 {
  padding: .6rem 1.5rem;
  font-size: 1.8rem;
  font-weight: 540;
  border-radius: 2.8rem;
  background-color: #df581e;
  border: none;
  font-family: "Montserrat";
}
.btn-2 {
  font-size: 1.8rem;
  font-weight: 540;
  border: none;
  background-color: #ebe3cd;
  padding: 0rem 0rem 0rem 2rem;
  font-family: "Montserrat";
}

/* ----------------------------------------------------------------------------- */

.lamp img{
  width: 100%;
}
.lamp{
  position: absolute;
  right: 20.5rem;
  bottom: 22rem;
}

.window-1{
  width: 100%;
  position: absolute;
  right: 0rem;
  bottom: 0rem;
}
.window-2{
  width: 100%;
  position: absolute;
  left: 6rem;
  bottom: 0rem;
}
.f1{
  width: 100%;
  position: absolute;
  top: 14rem;
  right: -2.4rem;
}
.plant{
  position: absolute;
  top: 28.9rem;
  right: 70rem;
}

/* <!---------------------------------- sec-2 ------------------------------------- --> */
.s-2-m{
  margin: 27rem 0rem 0rem 0rem ;
  font-size: 3rem;
  font-weight: 400;
  font-family: "Montserrat";
}


.box{
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid .2rem #ffffff;
  padding: 4rem 41rem;
  margin: 3rem 0rem 5rem 0rem ;
  border-radius: 2.7rem;
  background-color:#ffffff ;

}
.sec-2-row{
  font-size: 2rem ;
  font-family: "Montserrat";
}
.input-box{
  padding: 2rem 8rem 2rem 2rem;
  margin: .5rem 6rem 0rem 0rem;
  border-radius: 2.3rem;
  background-color: #ebe3cd;
}


.cheek>button{

  width: max-content;
  padding: 2rem 2rem 2rem 2rem;
  margin: 4rem 0rem 3rem 3rem ;
  font-size: 2rem ;
  font-family: "Montserrat";
  background-color: #6bb99c;
  color: #ffffff;
  border-radius: 2.7rem;
  border: none;
}
.cheek>button:hover{
  color: #ffffff;
  background-color:green;

}

/* ---------------------------------------sec-3-------------------------------------- */
.card{
  width:100%;
  background-color: #ffffff;
  background-color: #ffffff;
  border-radius: 2.7rem;
  border: .2rem solid;
  padding: 3rem 0rem 0rem 0rem;
  text-align: center;
  margin-bottom: 2.5rem;
}
.s-3-m p{
  font-size: 3rem;
  font-family: "Montserrat";
  color: #eaa73b;
  text-align: center;
  padding: 3rem 0rem .4rem 0rem ;
}
.s-3-m h4{
  font-size: 4rem;
  font-family: "Playfair Display";
  text-align: center;
  padding: 1rem 0rem 4rem 0rem ;
}


.card h4{
  font-size: 3rem;
  font-family: "Playfair Display";
  padding: 2rem 0rem 0rem 0rem;
}

.card p{
  font-size: 2.3rem;
  font-family: "Montserrat";
  padding: .7rem 0rem 1rem 0rem ;
}

.card button{
  padding: 1rem 2rem;
  margin: 1rem 0rem 3rem 0rem;
  font-size: 2rem;
  font-family: "Montserrat";
  border-radius: 2.7rem;
  background-color: #df581e;
  color: #ffffff;
  border: none;
}
.sec-3-row{
  justify-content: space-evenly;
}

/* -----------------------------------sec-4 ------------------------------------------ */

.s-4-m{
  text-align: center;
  margin: 15rem 0rem 2rem 0rem ;
}
.s-4-m p{
  font-size: 3rem;
  font-family: "Montserrat";
  color: #6bb99c;
  font-weight: 400;
}
.s-4-m h4{
  font-size: 4.5rem;
  font-family: "Playfair Display";
  font-weight: 400;
  padding: 1rem 0rem;
}

.s-4-m button{
  padding: 1rem 2rem;
  margin: 1rem 0rem 3rem 0rem;
  font-size: 2rem;
  font-family: "Montserrat";
  border-radius: 2.7rem;
  background-color:#6bb99c;
  color: #ffffff;
  border: none;
}

.table1{
  padding: 0rem 0rem 2rem 0rem ;
  position: absolute;
  top: 17rem;
  left: 81rem;
}
.table2{
  padding: 0rem 0rem 2rem 0rem ;
  position: absolute;
  top: 17rem;
  right: 79rem;
}
.table3{
  position: absolute;
  left: 101rem;
  top: -23rem;
}
.table4{
  position: absolute;
  right: 102rem;
  top: -23rem;
}
.staf{
  width: 100%;
  position: relative;
  top: 11rem;
  left: 34.2rem;
  padding: 0rem 0rem 2rem 0rem ;
}

/* ------------------------------------sec-5---------------------------------------------- */
.sec-5-row{
  margin: 8rem 0rem 0rem 0rem;
  justify-content: space-between;
}

.s-5-m{
  width: 100%;
  margin: 25rem 0rem ;
}
.story{
  color: #df581e;
  font-family: "Montserrat";
  padding: 1rem 0rem .5rem 0rem;
}
.s-5-m h2{
  font-size: 4rem;
  font-family: "Playfair Display";
}
.s-5-m p{
  font-size: 2.22rem;
  font-family: "Montserrat";
  padding: .2rem 0rem 2rem 0rem;
}
.s-5-m button{
  padding: 1rem 2rem;
  margin: 1rem 0rem 3rem 0rem;
  font-size: 2rem;
  font-family: "Montserrat";
  border-radius: 2.7rem;
  background-color: #df581e;
  color: #ffffff;
  border: none;
}


.s-5-img{
  width: 100%;
  text-align: center;
}

.s5-1{
  width: 100%;
  position: absolute;
  top: 27.7rem;
  left:5rem;
}
.s5-2{
  position: absolute;
  top: 9rem;
  left:55.8rem;
}
.s5-3{
  position: absolute;
  top: 15rem;
  left:5rem;
}

/* -------------------------------sec-6--------------------------------------- */
.sec-6-row{
  justify-content: space-between;
}
.s-6-img{
  width: 100%;
  padding: 6rem 0rem 0rem 0rem ;
}
.s-6-img img{
  width: 100%;
}
.s-6-text{
  width: 100%;
  padding: 7rem 5.5rem 0rem 0rem ;
}

.s-6-tp{
  color: #eaa73b;
  font-size: 3rem ;
  font-family: "Montserrat";
  padding: 2rem 0rem 1rem 0rem ;
}
.s-6-text h2{
  font-size: 5.5rem ;
  font-family: "Playfair Display";
  line-height: 5rem;
  padding: 1rem 0rem;
}
.s-6-text p{
  font-size: 2.7rem;
  font-family: "Montserrat";
  padding: 1rem 0rem 0rem 0rem;
}
.s-6-text button{
  padding: 1rem 2rem;
  margin: 2rem 0rem 3rem 1rem;
  font-size: 2rem;
  font-family: "Montserrat";
  border-radius: 2.7rem;
  background-color:#6bb99c;
  color: #ffffff;
  border: none;
}

/* ---------------------------------------sec-7---------------------------------------- */

.sec-7-row{
  justify-content: space-between;
  border-radius: 2.7rem;
  background-color: #ffffff;
  padding: 6rem 8rem 10rem 7rem;
  margin: 10rem 0rem 2rem 0rem ;
}
.s-7-text{
  width: 100%;
  padding: 16rem 5.5rem 0rem 0rem ;
}
.s-7-tp{
  color: #6bb99c;
  font-size: 3rem ;
  font-family: "Montserrat";
  padding: 2rem 0rem 1rem 0rem ;
}
.s-7-text h2{
  font-size: 5.5rem ;
  font-family: "Playfair Display";
  line-height: 5rem;
  padding: 1rem 0rem;
}
.s-7-text p{
  font-size: 2rem;
  font-family: "Montserrat";
  padding: 1rem 0rem 0rem 0rem;
}
.s-7-text button{
  padding: 1rem 2rem;
  margin: 2rem 0rem 3rem 1rem;
  font-size: 2rem;
  font-family: "Montserrat";
  border-radius: 2.7rem;
  background-color:#df581e;
  color: #ffffff;
  border: none;
}

.s-7-img{
  width: 100%;
  /* padding: 6rem 0rem 0rem 0rem ; */
}
/* ----------------------------------sec-8 ------------------------------------- */
.sec-8-m{
  text-align: center;
  margin-top: 8dvi;
}
.sec-8-m p{
  font-size: 3rem;
  font-family: "Montserrat";
  color: #df581e;
}
.sec-8-m h4{
  font-size: 4rem;
  font-family: "Playfair Display";
  padding: 0rem 0rem 1rem 0rem;
}

.sec-8-row{
  justify-content: space-between;
  padding: 5rem 0rem 3.5rem 0rem;
}
.scard-1{
  width: 100%;
  background-color: #ffffff;
  border-radius: 2.7rem;
  padding: 3rem 0rem 2rem 3rem ;
}
.scard-2{
  width: 100%;
  background-color: #ffffff;
  border-radius: 2.7rem;
  padding: 3rem 3rem 2rem 3rem ;
}
.scard-3{
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 2.7rem;
  padding: 3rem 3rem 2rem 3rem ;
}
.s8text{
  padding: 1.5rem 0rem 0rem 2rem;
}
.s8text h4{
  font-size: 3rem ;
  font-family: "Playfair Display";
}
.s8text p{
  font-size: 1.5rem ;
  font-family: "Montserrat";
  padding: .5rem 0rem 1rem 0rem ;
}

/* -----------------------------------sec-9 ---------------------------------------- */
.s9text{
  margin: 0 auto;
  flex-direction: column;
  text-align: center;
  padding: 8rem 0rem 10rem 0rem ;
}
.s9text p{
  font-size: 4rem;
  font-family: "Montserrat";
  color: #df581e;
  padding: 1rem 0rem .5rem 0rem;
}
.s9text h4{
  font-size: 5rem;
  font-family: "Playfair Display";
  padding: 0rem 0rem 1rem 0rem;
}
.name{
  border: solid .2rem #faf8ef;
  padding: 2.5rem 75rem 2.5rem 4rem ;
  margin:auto;
  margin-top: 1rem;
  background-color: #ccc1a3;
  border-radius: 4.3rem;
  font-family: "Montserrat";
}
.mail{
  border: solid .2rem #faf8ef;
  padding: 2.5rem 76rem 2.5rem 4rem ;
  margin:auto;
  margin-top: 1rem;
  background-color: #ccc1a3;
  border-radius: 4.3rem;
  font-family: "Montserrat";
}
.msg{
  border: solid .2rem #faf8ef;
  padding: 2.5rem 73.5rem 12rem 4rem ;
  margin:auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #ccc1a3;
  border-radius: 2.7rem;
  font-family: "Montserrat";
}
.s9btn{
    padding: 1rem 2rem;
    margin: 1rem 0rem 3rem 0rem;
    font-size: 2.5rem;
    font-family: "Montserrat";
    font-weight: 600;
    margin: 0 auto;
    border-radius: 2.7rem;
    background-color: #6bb99c;
    color: #3a3a3a;
    border: none;
    
}

.s9img1{
  position: absolute;
  top:10rem;
  left: -1rem;
}
.s9img2{
  position: absolute;
  top:10rem;
  right:1.5rem;
}
.s9img3{
  position: absolute;
  bottom:2rem;
  right:1.5rem;
}
.s9img4{
  position: absolute;
  bottom:2rem;
  left:1.5rem;
}

/* ------------------------------------------------------------------------------ */
.footer{
  background-color: #f79708;
}
.main-foot{
  padding: 7rem 0rem;
} 
.main-foot h4{
  font-size: 4rem ;
  font-family: "Playfair Display";
  color: white;
}
.About{
  width: 100%;
}
.about-links{
  padding: 1rem;
}
.about-links h4{
  padding: 1rem 0rem 2rem 0rem;
  font-family: "Playfair Display";
}
.about-links ul a{
  color: #404040;
  font-size: 2.5rem;
  font-family: "Montserrat";
  line-height: 6.5rem;
  letter-spacing: .1rem;
  font-weight: 600;
  text-decoration: none;
}
.Services{
  width: 100%;
}
.about-Services{
  padding: 1rem;
}
.about-Services h4{
  padding: 1rem 0rem 2rem 0rem;
  font-family: "Playfair Display";
}
.about-Services ul a{
  color: #404040;
  font-size: 2.5rem;
  font-family: "Montserrat";
  line-height: 6.5rem;
  letter-spacing: .1rem;
  font-weight: 600;
  text-decoration: none;
}

.main-foot li{
  display: block;
}
.foot-input{
  width: 100%;
}

.foot-input h5{
  text-align: right;
  color: white;
  font-size: 4rem;
  font-family: "Playfair Display";
  padding: 2.5rem 0rem 0rem 0rem;
}

.foot-input-fl input{
  padding: 2rem 1rem 2rem 25rem  ;
  background-color: #f79708;
  border: solid .2rem #404040;
  border-radius: 5.4rem;
  outline: none;
  margin:4rem 0rem 2rem 0rem  ;
  
}
.foot-input-fl button svg{
  fill: white;
  
}

.foot-input-fl{
  text-align: right;
  margin: 1.5rem 0rem;
}

.foot-icon{
  text-align: right;
}
.foot-icon>ul{
  display: flex;
  align-items: center;
  justify-content: end;
  
}
.foot-icon svg{
background-color: white;
border-radius: 50%;
padding: .4rem;
width: 100%;
height:4rem;
margin: 1.5rem 1.5rem .5rem 0rem ;

}
.foot-icon ul li{
  display:inline-block;
  padding: .5rem;
}
.foot-icon ul li>span{
  font-size: 3rem;
  font-family: "Montserrat";
  padding: 0rem 2rem 0rem 0rem;

}

/* -------------------------------------------------------------------------------------- */

@media(min-width:768px){
  .container{
      width: 720px;
  }
   .html{
    font-size: 100%;
  }
  .navbar {
    padding: 1.6rem 3rem;
    margin: 3rem 0rem;
    align-items: center;
    font-family: "Montserrat";
  }
  .links a{
    padding: .1rem;
    margin: 0 1.5rem;
    font-size: 1.8rem;
  }
  .sec-45{
    width: 100%;
  }
  .sec-55{
    width: 100%;
  }
  .main h1 {
    font-size: 4.5rem;
    line-height: 5rem;
  }
  .bold {
    font-size: 1.9rem;
    font-weight: bold;
    padding: 2rem 0rem 1rem 0rem;
  }
  .p1{
    font-size: 1.2rem;
    padding: 0rem 0rem 1rem 0rem;
  }
  .lamp img{
    width: 3rem;
  }
  .lamp{
    position: absolute;
    top: -3rem;
    right: 11rem;
  }
  .window-1{
    width: 10.5rem;
    position: absolute;
    top: 10rem;
  }
  .window-2{
    width: 10.5rem;
    position: absolute;
    top: 10rem;
  }
  .f1{
    width: 140%;
  }
  .plant{
    width: 19%;
    top: 26.4rem;
    right: 40rem;
  }

  .box{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid .2rem #ffffff;
    padding: 2rem 33rem;
    margin: 3.5rem 0rem 3rem 0rem ;
    border-radius: 2.7rem;
    background-color:#ffffff ;
  
  }
  .input-box{
    padding: .5rem .5rem .5rem .5rem;
  }
  .cheek>button{
    padding: 1rem 1rem;
    margin: 2.3rem .2rem 4rem -3rem ;
    font-size: 1.5rem;
  }
  .sec-2-row{
    font-size: 1.3rem ;
  }

  .card{
    width: 30%;
  }
  .rajt{
    width: 100%;
  }
  .mhat{
    width: 100%;
  }
  .staf{
    width: 40%;
    position: relative;
    top: 12rem;
    left: 22rem;
  }

  .s-4-m{
    margin: 10rem 0rem 0rem 0rem ;
  }
  .s-4-m p{
    font-size: 2rem;
    font-weight: 400;
  }
  .s-4-m h4{
    font-size: 3rem;
    font-weight: 400;
    padding: .8rem 0rem;
  }
  
  .s-4-m button{
    padding: .7rem 1.4rem;
    margin: .5rem 0rem 1.5rem 0rem;
    font-size: 1.3rem;
  }
  .table1{
    width: 30%;
    padding: 0rem 0rem 2rem 0rem ;
    position: absolute;
    top: 17rem;
    left: 50.5rem;
  }
  .table2{
    width: 30%;
    padding: 0rem 0rem 2rem 0rem ;
    position: absolute;
    top: 17rem;
    right: 49.2rem;
  }

  .table3{
    width: 20%;
    position: absolute;
    left: 58.5rem;
    top: -15.5rem;
  }
  .table4{
    width: 20%;
    position: absolute;
    right: 58.5rem;
    top: -15.5rem;
  }
  .s-5-m{
    width: 30%;
    margin: 17rem 0rem 15rem 0rem ;
  }
  .s-5-img{
    width: 60%;
  }
  .s5-1{
    width: 90%;
  }

  .s5-1{
    width: 90%;
    position: absolute;
    top: 27.7rem;
    left:5rem;
  }
  .s5-2{
    width: 20%;
    position: absolute;
    top: 12rem;
    left:34.8rem;
  }
  .s5-3{
    width: 40%;
    position: absolute;
    top: 17rem;
    left:5rem;
  }

  .s-6-img{
    width: 50%;
  }
  .s-6-img img{
    width: 95%;
    position: absolute;
    top: 10rem;
    transform:rotate(320deg) ;
  }
  .s-6-text{
    width: 45%;
  }

  .s-7-text{
    width: 40%;
  }
  .s-7-img{
    width: 55%;
  }
  .s-7-img>.sec-7-i1{
    width: 110%;
    position: absolute;
    top: 11rem;
  }
  .s-7-img>.sec-7-i2{
    width: 50%;
    position: absolute;
    top: 5rem;
  }
  .sec-7-row{
    padding: 2rem 8rem 3rem 7rem;
    margin: 10rem 0rem 2rem 0rem ;  }
  .scard-1{
    width: 45%;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .scard-2{
    width: 45%;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .scard-3{
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .s9text{
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    padding: 8rem 0rem 10rem 0rem ;
  }
  .s9text p{
    font-size: 3rem;
    color: #df581e;
    padding: 1rem 0rem .5rem 0rem;
  }
  .s9text h4{
    font-size: 3.4rem;
    padding: 0rem 0rem 1rem 0rem;
  }
  .name{
    padding: 2.5rem 55rem 2.5rem 4rem ;
    margin:auto;
    margin-top: 1rem;
  }
  .mail{
    padding: 2.5rem 56rem 2.5rem 4rem ;
    margin:auto;
    margin-top: 1rem;
  }
  .msg{
    padding: 2.5rem 53.9rem 12rem 4rem ;
    margin:auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .s9btn{
      padding: 1rem 2rem;
      margin: 4rem 0rem 3rem 0rem;
      font-size: 2.5rem;
      margin: 0 auto;
 }
  
  .s9img1{
    position: absolute;
    top:10rem;
    left: -1rem;
  }
  .s9img2{
    position: absolute;
    top:8rem;
    left:58rem;
  }
  .s9img3{
    position: absolute;
    bottom:2rem;
    right:1.5rem;
  }
  .s9img4{
    position: absolute;
    bottom:2rem;
    left:1.5rem;
  }

  .About{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .Services{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .foot-input{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .foot-icon svg{
    width: 4rem;
  }

  .foot-input h5{
    text-align: right;
    font-size: 3rem;
    padding: 2.5rem 0rem 0rem 0rem;
  }
  
  .foot-input-fl input{
    padding: 2rem 1rem 2rem 10rem  ;
    margin:4rem 0rem 2rem 0rem  ;
  }
}
/* ------------------------------------------------------------------------------------ */
@media(min-width:992px){
  .container{
      width: 950px;
  }
   .html{
    font-size: 100%;
  }
  .navbar {
    padding: 1.6rem 3.5rem;
    margin: 5rem 0rem;
    align-items: center;
    font-family: "Montserrat";
  }
  .links a {
    margin: 0 1.5rem;
    font-size: 2rem;
    padding: 1rem;
  }
  .row{
    display: flex;
    /* flex-wrap: wrap; */
  }
  .sec-45{
    width: 45%;
  }
  .sec-55{
    width: 55%;
  }
  .main h1 {
    font-size: 6.5rem;
    line-height: 7rem;
  }
  .bold {
    font-size: 2.3rem;
    font-weight: bold;
    padding: 2rem 0rem 1rem 0rem;
  }
  .p1{
    font-size: 1.5rem;
    padding: 0rem 0rem 1rem 0rem;
  }
  .lamp img{
    width: 6rem;
  }
  .lamp{
    position: absolute;
    top: -9rem;
    right: 14rem;
  }
  .window-1{
    width: 10.5rem;
    position: absolute;
    top: 10rem;
  }
  .window-2{
    width: 10.5rem;
    position: absolute;
    top: 10rem;
  }
  .f1{
    width: 140%;
  }
  .plant{
    width: 18%;
    top: 32.7rem;
    right: 60rem;
  }

  .box{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid .2rem #ffffff;
    padding: 2rem 41rem;
    margin: 3rem 0rem 5rem 0rem ;
    border-radius: 2.7rem;
    background-color:#ffffff ;
  
  }
  .input-box{
    padding: 1rem 4rem 1rem 1rem;
  }
  .cheek>button{
    padding: 1rem 1rem;
    margin: 4rem 0rem 3rem 3rem ;
  }
  .sec-2-row{
    font-size: 1.8rem ;
  }


  .card{
    width: 30%;
  }
  .rajt{
    width: 100%;
  }
  .mhat{
    width: 100%;
  }
  .staf{
    width: 40%;
    position: relative;
    top: 11rem;
    left: 29rem;
  }

  .s-4-m{
    margin: 13rem 0rem 2rem 0rem ;
  }
  .s-4-m p{
    font-size: 2.8rem;
    font-weight: 400;
  }
  .s-4-m h4{
    font-size: 4.5rem;
    font-weight: 400;
    padding: .8rem 0rem;
  }
  
  .s-4-m button{
    padding: .9rem 1.8rem;
    margin: 1rem 0rem 3rem 0rem;
    font-size: 1.9rem;
  }
  .table1{
    width: 30%;
    padding: 0rem 0rem 2rem 0rem ;
    position: absolute;
    top: 17rem;
    left: 66rem;
  }
  .table2{
    width: 30%;
    padding: 0rem 0rem 2rem 0rem ;
    position: absolute;
    top: 17rem;
    right: 66rem;
  }

  .table3{
    width: 20%;
    position: absolute;
    left: 75rem;
    top: -23rem;
  }
  .table4{
    width: 20%;
    position: absolute;
    right: 75rem;
    top: -23rem;
  }
  .s-5-m{
    width: 30%;
    margin: 17rem 0rem 15rem 0rem ;
  }
  .s-5-img{
    width: 60%;
  }
  .s5-1{
    width: 90%;
  }

  .s5-1{
    width: 90%;
    position: absolute;
    top: 27.7rem;
    left:5rem;
  }
  .s5-2{
    width: 20%;
    position: absolute;
    top: 9rem;
    left:44.8rem;
  }
  .s5-3{
    width: 40%;
    position: absolute;
    top: 15rem;
    left:5rem;
  }

  .s-6-img{
    width: 50%;
  }
  .s-6-img img{
    width: 95%;
    position: absolute;
    top: 10rem;
    transform:rotate(320deg) ;
  }
  .s-6-text{
    width: 45%;
  }

  .s-7-text{
    width: 40%;
  }
  .s-7-img{
    width: 55%;
  }
  .s-7-img>.sec-7-i1{
    width: 110%;
    position: absolute;
    top: 11rem;
  }
  .s-7-img>.sec-7-i2{
    width: 50%;
    position: absolute;
    top: 5rem;
  }
  .sec-7-row{
    padding: 2rem 8rem 3rem 7rem;
    margin: 10rem 0rem 2rem 0rem ;  }
  .scard-1{
    width: 45%;
    display: flex;
    flex-direction: row;
  }
  .scard-2{
    width: 45%;
    display: flex;
    flex-direction: row;
  }
  .scard-3{
    width: 45%;
    display: flex;
    flex-direction: row;
  }

  .s9text{
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    padding: 8rem 0rem 10rem 0rem ;
  }
  .s9text p{
    font-size: 3.5rem;
    color: #df581e;
    padding: 1rem 0rem .5rem 0rem;
  }
  .s9text h4{
    font-size: 4rem;
    padding: 0rem 0rem 1rem 0rem;
  }
  .name{
    padding: 2.5rem 65rem 2.5rem 4rem ;
    margin:auto;
    margin-top: 1rem;
  }
  .mail{
    padding: 2.5rem 66rem 2.5rem 4rem ;
    margin:auto;
    margin-top: 1rem;
  }
  .msg{
    padding: 2.5rem 63.9rem 12rem 4rem ;
    margin:auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .s9btn{
      padding: 1rem 2rem;
      margin: 4rem 0rem 3rem 0rem;
      font-size: 2.5rem;
      margin: 0 auto;
 }
  
  .s9img1{
    position: absolute;
    top:10rem;
    left: -1rem;
  }
  .s9img2{
    position: absolute;
    top:9rem;
    left:84rem;
  }
  .s9img3{
    position: absolute;
    bottom:2rem;
    right:1.5rem;
  }
  .s9img4{
    position: absolute;
    bottom:2rem;
    left:1.5rem;
  }

  .About{
    width: 25%;
  }
  .Services{
    width: 25%;
  }
  .foot-input{
    width: 50%;
  }
  .foot-icon svg{
    width: 4rem;
  }
  .foot-input h5{
    text-align: right;
    font-size: 4rem;
    padding: 2.5rem 0rem 0rem 0rem;
  }
  
  .foot-input-fl input{
    padding: 2rem 1rem 2rem 23rem  ;
    margin:4rem 0rem 2rem 0rem  ;
  }
}
@media screen and (max-width:1400px)
{
  .container
  {
    width: 1200px;
  }
}

@media(max-width:1200px){
  .container{
    width: 1150px;
  }
  .html{
    font-size: 100%;
  }
  .navbar {
    padding: 1.6rem 3.5rem;
    margin: 5rem 0rem;
    align-items: center;
    font-family: "Montserrat";
  }
  .links a {
    margin: 0 1.5rem;
    font-size: 2rem;
    padding: 1rem;
  }
  .sec-45{
    width: 45%;
  }
  .sec-55{
    width: 55%;
  }
  .main h1 {
    font-size: 7.5rem;
    line-height: 8rem;
  }
  .bold {
    font-size: 2.7rem;
    font-weight: bold;
    padding: 2rem 0rem 1rem 0rem;
  }
  .p1{
    font-size: 1.8rem;
    padding: 0rem 0rem 1rem 0rem;
  }
  .lamp img{
    width: 6.5rem;
  }
  .lamp{
    position: absolute;
    right: 22rem;
    bottom: 20rem;
  }
  .window-1{
    width: 12.5rem;
  }
  .window-2{
    width: 12.5rem;
  }
  .f1{
    width: 140%;
  }
  .plant{
    width: 23%;
    top: 31.6rem;
    left: -22rem;
  }

  /* .box{
    width: 30rem;
    
  } */
  /* .box{
    display: flex;
    flex-direction: row;
  } */
  .input-box{
    padding: 2rem 8rem 2rem 2rem;
    margin: .5rem 6rem 0rem 0rem;
  }
  .sec-2-row{
    font-size: 2rem ;
  }
  .card{
    width: 30%;
  }

  .s-4-m{
    margin: 15rem 0rem 2rem 0rem ;
  }
  .s-4-m p{
    font-size: 3rem;
    font-weight: 400;
  }
  .s-4-m h4{
    font-size: 4.5rem;
    font-weight: 400;
    padding: 1rem 0rem;
  }
  
  .s-4-m button{
    padding: 1rem 2rem;
    margin: 1rem 0rem 3rem 0rem;
    font-size: 2rem;
  }
  .table1{
    width: 33%;
    padding: 0rem 0rem 2rem 0rem ;
    position: absolute;
    top: 17rem;
    left: 80rem;
  }
  .table2{
    width: 33%;
    padding: 0rem 0rem 2rem 0rem ;
    position: absolute;
    top: 17rem;
    right: 79rem;
  }
  .table3{
    width: 20%;
    position: absolute;
    left: 95rem;
    top: -23rem;
  }
  .table4{
    width: 20%;
    position: absolute;
    right: 95rem;
    top: -23rem;
  }
  .staf{
    width: 42%;
    position: relative;
    top: 11rem;
    left: 33.4rem;
  }

  .s-5-m{
    width: 30%;
    margin: 27rem 0rem 20rem 0rem ;
  }
  .s5-1{
    width: 90%;
    position: absolute;
    top: 27.7rem;
    left:5rem;
  }
  .s5-2{
    width: 20%;
    position: absolute;
    top: 5rem;
    left:54.8rem;
  }
  .s5-3{
    width: 45%;
    position: absolute;
    top: 10rem;
    left:5rem;
  }
  .s-5-img{
    width: 60%;
  }
  .s5-1{
    width: 90%;
  }
  .sec-7-row{
    padding: 6rem 8rem 22rem 7rem;
    margin: 10rem 0rem 2rem 0rem ;
  }

  .s-6-img{
    width: 50%;
  }
  .s-6-img img{
    width: 95%;
  }
  .s-6-img img{
    width: 100%;
    position: absolute;
    top: 5rem;
    transform:rotate(360deg) ;
  }
  .s-6-text{
    width: 45%;
  }

  .s-7-text{
    width: 35%;
  }
  .s-7-img{
    width: 65%;
  }


  .scard-1{
    width: 45%;
    display: flex;
    flex-direction: row;
  }
  .scard-2{
    width: 45%;
    display: flex;
    flex-direction: row;
  }
  .scard-3{
    width: 45%;
    display: flex;
    flex-direction: row;
  }

  .s9text{
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    padding: 8rem 0rem 10rem 0rem ;
  }
  .s9text p{
    font-size: 4rem;
    color: #df581e;
    padding: 1rem 0rem .5rem 0rem;
  }
  .s9text h4{
    font-size: 5rem;
    padding: 0rem 0rem 1rem 0rem;
  }
  .name{
    padding: 2.5rem 75rem 2.5rem 4rem ;
    margin:auto;
    margin-top: 1rem;
  }
  .mail{
    padding: 2.5rem 76rem 2.5rem 4rem ;
    margin:auto;
    margin-top: 1rem;
  }
  .msg{
    padding: 2.5rem 73.5rem 12rem 4rem ;
    margin:auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .s9btn{
      padding: 1rem 2rem;
      margin: 4rem 0rem 3rem 0rem;
      font-size: 2.5rem;
      margin: 0 auto;
 }
  
  .s9img1{
    position: absolute;
    top:10rem;
    left: -1rem;
  }
  .s9img2{
    position: absolute;
    top:10rem;
    left:100rem;
  }
  .s9img3{
    position: absolute;
    bottom:2rem;
    right:1.5rem;
  }
  .s9img4{
    position: absolute;
    bottom:2rem;
    left:1.5rem;
  }
  
  .About{
    width: 25%;
  }
  .Services{
    width: 25%;
  }
  .foot-input{
    width: 50%;
  }
  .foot-icon svg{
    width: 4rem;
  }

  .foot-input h5{
    text-align: right;
    font-size: 4rem;
    padding: 2.5rem 0rem 0rem 0rem;
  }
  
  .foot-input-fl input{
    padding: 2rem 1rem 2rem 25rem  ;
    margin:4rem 0rem 2rem 0rem  ;
  }
}
/* ------------------------------------------------------------------------------------ */


@media screen and (max-width:768px)
{
  .card h4
  {
    font-size: 2rem;
  }
  .card p
  {
    font-size: 16px;
  }
}
